<%include partials/otherheader%>
<style>
    .content * {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 1vh;
    }
    .content style {
        display: none;
    }
</style>
<h1>Contact</h1>
<form action="/contact" method="post">
    <input type="text" name="name" placeholder="Name" class="titleUpd" required autocomplete="off">
    <input type="text" name="email" placeholder="Email" class="titleUpd" required autocomplete="off">
    <textarea name="text" placeholder="Comments" class="textarea"></textarea>
    <input type="submit" class="submit" value="Contact">
</form>
<%include partials/footer%>