<% include partials/otherheader %>
<style>
    .content * {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 1vh;
    }
    .content style {
        display: none;
    }
</style>
<h1>Add a post</h1>
<form action="/admin/create" method="post" enctype="multipart/form-data">
    <select class="submit" name="blog">
        <option value="project">Project</option>
        <option value="blog">Blog</option>
    </select>
    <div class="inline">
        <input type="text" name="name" placeholder="Title" class="titleUpd" required autocomplete="off">
        <input type="text" name="postname" placeholder="Unique Postname" required class="titleUpd" autocomplete="off">
    </div>
    <div class="inline">
        <input type="text" name="year" placeholder="Year" class="titleUpd" autocomplete="off">
        <input type="text" name="location" placeholder="Location" class="titleUpd" autocomplete="off">
    </div>
    <div class="inline">
        <label for="file1">
            <input type="file" name="coverPhoto" id="file1" style="display:none !important;">
            <a class="submit">Choose Cover Photo</a>
        </label>
        <label for="file2">
            <input type="file" name="gallery" multiple style="display:none !important;" id="file2">
            <a class="submit">Add Gallery</a>
        </label>
    </div>
    <textarea name="description" placeholder="Description" class="textarea"></textarea>
    <input type="submit" class="submit" value="Create!">
</form>
<% include partials/footer %>