<% include partials/header%>
<style style="display:none">
    .content * {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>
    <div class="cont" style="width:80vw">
        <%for(var i = 0; i < services.length; i++){%>
            <div class="item" style="float:none;width:30vw;display:inline-block;vertical-align:top;margin-bottom:1vh">
                <img src="/img/<%=services[i].image%>" style="width:30vw;height:auto">
                <div class="layer2" style="height:6.5vh;background-color:rgba(0,0,0,0.9);">
                    <a href="/service/<%=services[i].name%>" class="tiled" style="top:0.8vh">
                        <h1 style="text-align:left !important;font-size:4vh;padding-left:1vw;margin:0"><%=services[i].name%></h1>
                    </a>
                </div>
            </div>
        <%}%>
    </div>
<%if(session.userId){%>
    <div style="display:block;margin-left:auto;margin-right:auto;margin-bottom:3vh;">
       <a class="submit" href="/services/create" style="display:block;margin-left:auto;margin-right:auto;text-align:center;">Add Services</a>
    </div>
<%}%>
<%include partials/footer%>